// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html {
  font-size: 16px;
  font-family: $font-family-original;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}

.head-card-bs {
  min-height: 75px;
  position: relative;
}

.text-card-bs {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.img-center {
  display: block;
  margin: 0 auto;
}

.card-btn {
  font-size: 14px;
}

.index-card .card-deck .card {
  min-width: 255px;
}

.card-clear {
  border: 0;
  border-radius: 0;
}

.btn-center {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  min-height: inherit;
}

.center-div {
  min-height: 75px;
  font-size: 1.2rem;
  min-width: -webkit-fill-available;
  display: flex;
  justify-content: center;
  align-items: center;

}

#inner {
  width: 50%;
  margin: 0 auto;
}

